p {
    border: 2px solid black;
}
.r {
    background-color: red;
}
.b {
    background-color: blue;
}
.y {
    background-color: yellow;
}
.g {
    background-color: green;
}
.p {
    background-color: purple;
}
.c {
    background-color: teal;
}
.m {
    background-color: brown;
}
.o {
    background-color: orange;
}
